#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* base.css or global.css */
:root {
  --bg-color-light: #ffffff;
  --text-color-light: #222328;
  --secondary-text-color-light: #666e75;

  --bg-color-dark: #1a202c;
  --text-color-dark: #f7fafc;
  --secondary-text-color-dark: #a0aec0;
}

.light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

.dark .text-gray-600 {
  color: var(--secondary-text-color-dark) !important;
}

.dark .text-gray-500 {
  color: #cbd5e0 !important;
}

.dark .text-gray-400 {
  color: #a0aec0 !important;
}

.dark .text-gray-900 {
  color: #f7fafc !important;
}

.dark .text-gray-100 {
  color: #edf2f7 !important;
}
